<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener - Home</title>
    <style>
        .flex-container {
            display: flex;
            align-items: center; /* Center items vertically */
        }
        input {
            flex: 1; /* Allow the input to grow */
            min-width: 100px; /* Minimum width */
            padding: 10px;
            margin: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <h1 style = "background-color: powderblue;">URL Shortener</h1>
    <form method="POST" style="font-size: 150%;" action="/">
        URL to shorten: <div class="flex-container"><input type="text" name="url" required></div>
        <label for="shortcut_type">Choose shortcut type:</label>
        <select name="shortcut_type" id="shortcut_type" required onchange="togglePersonalShortcut()">
            <option value="random">Random Shortcut</option>
            <option value="personal">Personal Shortcut</option>
        </select>
        <input type="submit" value="Shorten URL">
        <div id="personal_shortcut_container" style="display: none;">
            <input type="text" name="personal_shortcut" placeholder="Enter personal shortcut">
        </div>
    </form>
    <br>
    <a href="/urls">View all shortened URLs</a>
</body>
<script>
    function togglePersonalShortcut() {
        var shortcutType = document.getElementById("shortcut_type").value;
        var personalShortcutContainer = document.getElementById("personal_shortcut_container");
        
        if (shortcutType === "personal") {
            personalShortcutContainer.style.display = "block"; // Show the personal shortcut input
        } else {
            personalShortcutContainer.style.display = "none"; // Hide the personal shortcut input
        }
    }
</script>
</html>